*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

@media (min-width: 769px) {
  html, body, #root {
    overflow: hidden;
  }
}

body {
  font-family: 'Press Start 2P', monospace;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
  image-rendering: pixelated;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}
